.container {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Ajustar la altura según el contenido */
    flex-direction: row;
    width: 1000px;
    margin-top: 80px;
    box-shadow: 0 8px 32px 0 #25272a;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 30px;
}

.dataLeft {
    width: 280px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../../utils/image/Dark/Products\ -\ Clay.jpg);
    border-radius: 20px 0 0 20px;
    margin-bottom: 20px;
    background-color: #D1D7E0; /* Cambia el color de fondo a blanco */
    box-shadow:
        -4px -4px 8px rgba(0, 0, 0, 0.1), /* Cambia las sombras a tonos más claros */
        4px 4px 8px rgba(255, 255, 255, 0.3); /* Cambia las sombras a tonos más claros */
}

.dataRight {
    width: 680px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
    color: #d1d7e0;
    background: none;
    filter: drop-shadow(5px 5px 10px #252525);
}

/* Establece la altura mínima de dataRight en función de dataLeft */
.dataRight {
    min-height: 100%; /* Altura mínima es 100% - 10px de margen superior */
}

.healthScore, .source {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    box-shadow: inset -10px 10px 20px #45321b,
        inset 10px -10px 20px #ffc66d;
    margin-bottom: 30px;
}

.id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-height: 30px;
    width: 200px;
    box-shadow: 
        inset -10px 10px 20px #45321b,
        inset 10px -10px 20px #ffc66d;
    margin-bottom: 30px;
}

.typeOfDiets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleDiets {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    box-shadow: inset -10px 10px 20px #45321b,
        inset 10px -10px 20px #ffc66d;
    margin: 0;
    margin-bottom: 5px;
}

.diets {
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 13px;
    padding: 2px;
    box-shadow: inset -10px 10px 20px #45321b,
        inset 10px -10px 20px #ffc66d;
}

h4 {
    margin: 0;
}

h5 {
    margin: 3px;
    margin-left: 10px;
}

.imageContainer {
    display: inline-block;
    width: 100%;
    border-radius: 20px 0 0 20px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(5px 5px 10px #000000);
}

.imageContainer img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px 0 0 20px;
}

.titleName {
    background-color: #D1D7E0;
    box-shadow:
        -4px -4px 8px rgba(0, 0, 0, 0.1),
        4px 4px 8px rgba(255, 255, 255, 0.3);
    padding: 8px;
    border-radius: 0 20px 20px 0;
    color: #252a30;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #D1D7E0;
    box-shadow:
        -4px -4px 8px rgba(0, 0, 0, 0.1),
        4px 4px 8px rgba(255, 255, 255, 0.3); */
    border-radius: 10px;
    margin-top: 20px;
    color: #252a30;
}

.titleSummary h3 {
    margin: 0;
    text-align: center;
    background-color: #D1D7E0;
    box-shadow:
        -4px -4px 8px rgba(0, 0, 0, 0.1),
        4px 4px 8px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: #252a30;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.summary {
    background-color: #D1D7E0;
    box-shadow:
        -4px -4px 8px rgba(0, 0, 0, 0.1),
        4px 4px 8px rgba(255, 255, 255, 0.3);
    padding: 8px;
    border-radius: 0 20px 20px 0;
    margin-top: 3px;
    color: #252a30;
}

.titleInstructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleInstructions h3 {
    margin: 0;
    margin-top: 30px;
    height: 30px;
    width: 150px;
    background-color: #D1D7E0;
    box-shadow:
        -4px -4px 8px rgba(0, 0, 0, 0.1),
        4px 4px 8px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-bottom: 5px;
    color: #252a30;
}

.listSteps {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    background-color: #D1D7E0;
    box-shadow:
        -4px -4px 8px rgba(0, 0, 0, 0.1),
        4px 4px 8px rgba(255, 255, 255, 0.3);
    border-radius: 0 20px 20px 0;
    color: #252a30;
}

.listSteps li {
    text-align: start;
    background-color: #D1D7E0;
    box-shadow:
        -4px -4px 8px rgba(0, 0, 0, 0.1),
        4px 4px 8px rgba(255, 255, 255, 0.3);
    padding: 8px;
    border-radius: 20px;
    margin: 5px;
    margin-right: 10px;
    color: #252a30;
}

.listSteps li::before {
    font-weight: bold;
}