.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;

  width: 300px;
 
}

.input {
  height: 25px;
  font-size: 12px;
  border: none;
  color: aliceblue;
  outline: none;
  width: 200px; 
  background-color: #191A1E;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 30px;
}

.buttonSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 60px;
  margin-left: 5px; 
  color: aliceblue;
  font-size: 11px;
  font-weight: bold;
  background-color: rgba(3, 223, 21, 0.384);
  cursor: pointer;
  border-radius: 5px;
}

.buttonSearch:disabled{
  background-color: rgb(136, 0, 0);
}
